img{
  height: auto;
  width: 100px;
}
.wrap{
  display: flex;
  justify-content: center;
  align-items: center;
}
#player > div,
#comp > div{
  margin:10px;
  padding:20px;
}
#result{
  width: 200px;
}
.resetBtn{
  
  padding: 20px;
  color: black;
  text-align: center;
 
}
.resetBtn img{
  width: 50px;
  height: auto;

}
.addBorder{
  border:2px solid #510909;
  border-radius: 5px;
}
.pointerNone{
  pointer-events: none;
}
.showBtnResult{
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 1px;
  background-color: #31893e;
  padding: 20px;
  border-radius: 10px;
}
.page-title{
  padding: 30px;
  color: #3b2c0b;
  text-transform: uppercase;
}